* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8c7ae6;
  color: #f5f6fa;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

fieldset {
  background-color: #9c88ff;
  border: none;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
  animation: transparent 0.2s;
}

h1 {
  margin-top: 1%;
  text-align: center;
  font-weight: bold;
  animation: transparent 1.5s;
}

input,
select,
textarea {
  border-radius: 5px;
  border: 1px solid white;
  animation: fade 1s;
}

.form-name label {
  display: block;
  padding-top: 1.2em;
  text-align: center;
  font-weight: bold;
  animation: transparent 1.5s;
}

.form-name input {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}

.form-position {
  margin-top: 1.2em;
  display: block;
  text-align: center;
}

.form-position .label-primary {
  font-weight: bold;
  animation: transparent 1.5s;
}

.form-category {
  margin-top: 1.2em;
  text-align: center;
  font-weight: bold;
  animation: transparent 1.5s;
}

.form-category select {
  margin: 0 40%;
  cursor: pointer;
}

.form-info p {
  display: block;
  margin-top: 1.5em;
  font-size: 1em;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  animation: transparent 1.5s;
}

textarea {
  margin: 1.2em 12%;
  width: 600px;
  font-size: 1.2em;
  resize: vertical;
}

button {
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 42%;
  background-color: #009432;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
  animation: fade 1s;
}

button:hover {
  background-color: #02c242;
}
